.body--dark {
  /** SCSS DARK THEME PRIMARY COLORS */
  .primary-100 {
    background-color: #d61f5d;
  }
  .primary-200 {
    background-color: #de466d;
  }
  .primary-300 {
    background-color: #e5627e;
  }
  .primary-400 {
    background-color: #ec7a8f;
  }
  .primary-500 {
    background-color: #f191a1;
  }
  .primary-600 {
    background-color: #f6a8b3;
  }
  /** SCSS DARK THEME SURFACE COLORS */
  .surface-100 {
    background-color: #121212;
  }
  .surface-200 {
    background-color: #282828;
  }
  .surface-300 {
    background-color: #3f3f3f;
  }
  .surface-400 {
    background-color: #575757;
  }
  .surface-500 {
    background-color: #717171;
  }
  .surface-600 {
    background-color: #8b8b8b;
  }
  /** SCSS DARK THEME MIXED SURFACE COLORS */
  .surface-mixed-100 {
    background-color: #241719;
  }
  .surface-mixed-200 {
    background-color: #392c2e;
  }
}
