.body--dark {
  /** SCSS DARK THEME PRIMARY COLORS */
  .primary-100 {
    background-color: #d61f5d;
  }
  .primary-200 {
    background-color: #de466d;
  }
  .primary-300 {
    background-color: #e5627e;
  }
  .primary-400 {
    background-color: #ec7a8f;
  }
  .primary-500 {
    background-color: #f191a1;
  }
  .primary-600 {
    background-color: #f6a8b3;
  }
  /** SCSS DARK THEME SURFACE COLORS */
  .surface-100 {
    background-color: #121212;
  }
  .surface-200 {
    background-color: #282828;
  }
  .surface-300 {
    background-color: #3f3f3f !important;
  }
  .surface-400 {
    background-color: #575757;
  }
  .surface-500 {
    background-color: #717171;
  }
  .surface-600 {
    background-color: #8b8b8b;
  }
  /** SCSS DARK THEME MIXED SURFACE COLORS */
  .surface-mixed-100 {
    background-color: #241719;
  }
  .surface-mixed-200 {
    background-color: #392c2e;
  }
  .surface-mixed-300 {
    background-color: #4f4344;
  }
  .surface-mixed-400 {
    background-color: #665b5c;
  }
  .surface-mixed-500 {
    background-color: #7d7475;
  }
  .surface-mixed-600 {
    background-color: #968e8f;
  }

  // Custom Dashboard number color

  .notif-icon-1 {
    background-color: #ffc4e3;
  }

  .notif-count-1 {
    background-color: #ffe1f1;
  }

  .banner {
    background-color: #4b4733 !important;
  }
  .banner-2 {
    background-color: #4e4e4e !important;
  }

  .banner-3 {
    background-color: #4a3a36 !important;
  }

  .banner-4 {
    background-color: #4a4a4a !important;
  }

  .banner-5 {
    background-color: #4c4c4c !important;
  }

  .banner-6 {
    background-color: #3c3b37 !important;
  }
  .cards {
    background-color: #2d2d30 !important;
  }
  .cards-2 {
    background-color: #252728 !important;
  }
}
